table {
    width: 100%;
  }
  mat-card{
    margin: 2%;
  }
  button{
    margin: 1%;
  }
  th{
    background-color:#3f51b5 !important;
    color: white;
  }
  ::ng-deep .mat-sort-header-arrow {
    color: #f44336 !important;
  }
  .greenbtn{
    background-color: #198754;
    color: white;
  }
