<mat-card class="card-class">
  <mat-card-header>
    <div mat-card-avatar> <img src="../../assets/angular_solidBlack.svg" alt=""></div>
    <mat-card-title>Developer</mat-card-title>
    <mat-card-subtitle>Angular Material UI</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/angular_solidBlack.svg" alt="">
  <mat-card-content>
    Angular is a web framework that empowers developers to build fast, reliable
    applications. Maintained by a dedicated team at Google, Angular provides a
    broad suite of tools, APIs, and libraries to simplify and streamline your
    development workflow. Angular gives you a solid platform on which to build
    fast, reliable applications that scale with both the size of your team and
    the size of your codebase.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button> <mat-icon>thumb_up </mat-icon>Like</button>
    <button mat-button> <mat-icon>share </mat-icon>Share</button>
  </mat-card-actions>
  <mat-card-footer></mat-card-footer>
</mat-card>

<mat-card class="card-class">
    <mat-card-header>
      <div mat-card-avatar> <img src="../../assets/angular_solidBlack.svg" alt=""></div>
      <mat-card-title>Developer</mat-card-title>
      <mat-card-subtitle>Angular Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-sm-image src="../../assets/angular_solidBlack.svg" alt="">
    <mat-card-content>
      Angular is a web framework that empowers developers to build fast, reliable
      applications. Maintained by a dedicated team at Google, Angular provides a
      broad suite of tools, APIs, and libraries to simplify and streamline your
      development workflow. Angular gives you a solid platform on which to build
      fast, reliable applications that scale with both the size of your team and
      the size of your codebase.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> <mat-icon>thumb_up </mat-icon>Like</button>
      <button mat-button> <mat-icon>share </mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  
  <mat-card class="card-class">
    <mat-card-header>
      <div mat-card-avatar> <img src="../../assets/angular_solidBlack.svg" alt=""></div>
      <mat-card-title>Developer</mat-card-title>
      <mat-card-subtitle>Angular Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-md-image src="../../assets/angular_solidBlack.svg" alt="">
    <mat-card-content>
      Angular is a web framework that empowers developers to build fast, reliable
      applications. Maintained by a dedicated team at Google, Angular provides a
      broad suite of tools, APIs, and libraries to simplify and streamline your
      development workflow. Angular gives you a solid platform on which to build
      fast, reliable applications that scale with both the size of your team and
      the size of your codebase.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> <mat-icon>thumb_up </mat-icon>Like</button>
      <button mat-button> <mat-icon>share </mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  
  <mat-card class="card-class">
    <mat-card-header>
      <div mat-card-avatar> <img src="../../assets/angular_solidBlack.svg" alt=""></div>
      <mat-card-title>Developer</mat-card-title>
      <mat-card-subtitle>Angular Material UI</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-lg-image src="../../assets/angular_solidBlack.svg" alt="">
    <mat-card-content>
      Angular is a web framework that empowers developers to build fast, reliable
      applications. Maintained by a dedicated team at Google, Angular provides a
      broad suite of tools, APIs, and libraries to simplify and streamline your
      development workflow. Angular gives you a solid platform on which to build
      fast, reliable applications that scale with both the size of your team and
      the size of your codebase.
    </mat-card-content>
    <mat-card-actions>
      <button mat-button> <mat-icon>thumb_up </mat-icon>Like</button>
      <button mat-button> <mat-icon>share </mat-icon>Share</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
  <div style="clear:both"></div>