<div class="mid">
  <p>autocomplete works!</p>
</div>
<div>
  <form class="example-form" >
    <mat-form-field class="example-full-width">
      <mat-label>Country</mat-label>
      <input matInput type="text" [matAutocomplete]="auto" [formControl]="valid" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let country of filterList | async"
          [value]=" country.name"
          >{{ country.code }} {{ country.name }}</mat-option
        >
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
