<div>
<mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <input type="text" matInput placeholder="Ex." name="" id="">
</mat-form-field>

<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Empty</mat-label>
        <input matInput placeholder="Ex...">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <mat-select >
        </mat-select>
    </mat-form-field>
</form>
</div>